# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[package.json]
indent_size = 2
indent_style = space

[*.js]
indent_size = 2
indent_style = space

[*.pug]
indent_size = 
indent_style = space
