/*
  Custimizations on top of base style.css

  This file must be included *after* style.css
*/


/* Fixes long function names
   in sidebar which cause the category label
   to overflow the enclosing <li>
*/
.sidebar .toc li {
  display: flex;
}

.sidebar .toc a {
  width: 100%;
  word-wrap: break-word;
}
/* End Fixes long function names ... */