<!DOCTYPE html>
<html class="home-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramda releases</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <input type="checkbox" id="open-nav">
    <header class="navbar navbar-fixed-top navbar-inverse container-fluid">
        <div class="navbar-header">
            <label class="open-nav" for="open-nav"></label>
            <a class="navbar-brand" href="#">
                <strong>Ramda</strong>
                <span class="version">v{{version}}</span>
            </a>
        </div>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="docs">Documentation</a></li>
                <li><a href="/repl?v={{version}}">Try Ramda</a></li>
                <li><a href="https://github.com/ramda/ramda">GitHub</a></li>
            </ul>
        </div>
    </header>
    <main class="container">
        <h1>Releases</h1>

        <ul>
            {{#each releases}}
            <li><a href="/{{this}}/">{{this}}</a></li>
            {{/each}}
        </ul>
    </main>
</body>
</html>
