<!DOCTYPE html>
<html class="docs-page">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ramda Cookbook</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <script src="https://embed.tonicdev.com"></script>
</head>

<body>
  <input type="checkbox" id="open-nav" />
  <header class="navbar navbar-fixed-top navbar-inverse container-fluid">
    <div class="navbar-header">
      <label class="open-nav" for="open-nav"></label>
      <a class="navbar-brand" href="#">
        <strong>Ramda</strong>
        <span class="version">v{{version}}</span>      
      </a>
    </div>
    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/repl?v={{version}}">Try Ramda</a></li>
        <li><a href="https://github.com/ramda/ramda">GitHub</a></li>
        <li class='active'><a href="#">Examples</a></li>
      </ul>
    </div>
  </header>
  <aside class="sidebar no-filter container-fluid">
        <ul class="nav nav-pills nav-stacked toc">
            {{#each files}}
            <li class='text-capitalize padded' data-file="code/{{@key}}.json">{{name}}</li> 
            {{/each}}
        </ul>
    </aside>
  <main class="container-fluid">
    <h1 class='title'></h1>
    <div class='snippet'></div>    
    <div id='tonic'></div>
  </main>
</body>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
  (function(){
            var notebook = Tonic.createNotebook({
                element: document.getElementById("tonic"), 
                source: '//Select an example to continue'
            });             
            
            $('li').on('click', function(e){
                let filename = $(e.currentTarget).data('file');
                $('li').removeClass('active');
                $(e.currentTarget).addClass('active');
                
                $.ajax({
                    url: filename,
                    dataType: 'text'
                }).done(function(file){
                    var example = JSON.parse(file);                  
                    $('h1.title').text(example.title);
                    if(example.description){
                      $('div.snippet').html(example.description);  
                    }
                    
                    notebook.setSource(example.source);
                });         
            });
        })();
</script>

</html>